<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Notepad</title>
</head>

<body>
    <div id="title"></div>
    <div id="app">
        <div id="nav">
            <ul>
                <li v-for="item in nav"><button :title="item.title" v-on:click="addElement(item.code, item.selected)">{{item.text}}</button></li>
                <!-- <li><button title="Bold" :click="addElement('B', $event)">B</button></li>
                <li><button title="Italic" :click="addElement('I', $event)">I</button></li>
                <li><button title="UnderLined" :click="addElement('U', $event)">U</button></li>
                <li><button title="Header 1" :click="addElement('H1', $event)">H1</button></li>
                <li><button title="Header 2" :click="addElement('H2', $event)">H2</button></li>
                <li><button title="Header 3" :click="addElement('H3', $event)">H3</button></li>
                <li><button title="Unordered List" :click="addElement('Unordered', $event)">Unordered</button></li>
                <li><button title="Ordered List" :click="addElement('Ordered', $event)">Ordered</button></li>
                <li><button title="Images" :click="addElement('Images', $event)">Images</button></li>
                <li><button title="Links" :click="addElement('Links', $event)">Links</button></li>
                <li><button title="Code" :click="addElement('Code', $event)">Code</button></li> -->
            </ul>
        </div>
        <div id="main">
            <textarea id="markdown-text" v-model="markdown" placeholder="input your markdown text"></textarea>
            <div id="html-output">
                <span id="hint" v-show="!markdown">Here will display the markdown preview</span>
                <div v-html="html"></div>
            </div>
        </div>
    </div>
</body>

</html>